<p id="notice"><%= notice %></p>

<p>
  <b>Lame description:</b>
  <%= @boring_old_rails_task.lame_description %>
</p>

<p>
  <b>Complete like anyone cares:</b>
  <%= @boring_old_rails_task.complete_like_anyone_cares %>
</p>


<%= link_to 'Edit', edit_boring_old_rails_task_path(@boring_old_rails_task) %> |
<%= link_to 'Back', boring_old_rails_tasks_path %>
